<!DOCTYPE html>
<html lang="en">
<head>
      
    <title>Welcome to test project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
              	<li><a href="/">Apply</a></li>
                <li><a href="/applications">Applications</a></li>
                <li><a href="/loqout">Loqout</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <section>
        <div class="jumbotron text-center">
            <h1>Company</h1> 
            <p>We specialize in xyz</p> 
        </div>
        <div class="container">
            <div class="col-sm-9">
            	<table class="applications table table-striped table-bordered">
            		 <thead>
					      <tr>
					        <th>Sr.</th>
					        <th>Name</th>
					        <th>Email</th>
					        <th>Language</th>
					        <th>Title</th>
					        <th>Description</th>
					        <th>Status</th>
					        <th>Action</th>
					      </tr>
					    </thead>
	            	
	            	{% set count = 0 %}
					{% for x in data %}
					{% set count = count + 1 %}
					<tr >
						<td class="">
							{{ count }} 
							<td>{{ x[1] }} </td>
							<td>{{ x[2] }} </td>
							<td>{{ x[3] }} </td>
							<td>{{ x[4] }} </td>
							<td>{{ x[5] }} </td>
							<td>
								{% if x[6] == 0 %}
				                    Not checked
				                {% elif x[6] == 1 %}
				                    Accepted
				                {% elif x[6] == 2 %}
				                    Cancelled
				                {% endif %}
							</td>
							<td class="column-action">
								<a class="btn btn-xs btn-success" href="/application/action/1/{{ x[0] }}">Accept</a>
								<a class="btn btn-xs btn-danger" href="/application/action/2/{{ x[0] }}">Reject</a>
							</td>
						</td>
						
					</tr>
					{% endfor %}
				</table>
            </div>
        </div>

    
    </section>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
          <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
</body>
</html>

