<!DOCTYPE html>
<html lang="en">
<head>
      
    <title>Welcome to test project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Apply</a></li>
                {% if status == True %}
                    <li><a href="/applications">Applications</a></li>
                    <li><a href="/loqout">Loqout</a></li>
                {% else %}
                    <li><a href="/admin">Admin Login</a></li>
                {% endif %}
                

              </ul>
            </div>
          </div>
        </nav>
    </header>
    <section>
        <div class="jumbotron text-center">
            <h1>Company</h1> 
            <p>We specialize in blablabla</p> 
        </div>
        <div class="container">
             <div class="col-sm-7">
                <form method="post" action='/submit'> 
                  <div class="row">
                                {% if submitted %}
                                    Application submitted
                                {% endif %}
                    <H3>Want to submit project proposal ??</H3>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                      <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="project_title" name="project_title" placeholder="Project Title" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                      <input class="form-control" id="project_languages" name="project_languages" placeholder="Project Languages" type="text" required>
                    </div>
                  </div>
                  <textarea class="form-control" id="description" name="description" placeholder="Project Description" rows="5"></textarea><br>
                  <div class="row">
                    <div class="col-sm-12 form-group">
                      <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </div>
                  </div> 
                </form>
                </div>
        </div>

        <div class="container bg-grey">
          <h2>Our Values</h2>
          <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4> 
          <p><strong>VISION:</strong> Our vision Lorem ipsum..
        </div>
    </section>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
          <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
</body>
</html>

